.countriesNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 20rem;
}

.contriesInput {
  width: 20rem;
}

@media screen and (max-width: 1160px) {
  .countriesNav {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  .button {
    width: 100%;
  }

  .contriesInput {
    width: 100%;
  }
  .barGraphAlert {
    width: 100rem;
  }
}
