@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #f0eeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* tilte */
.title {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

/* Github Cornor */
.github-svg {
  fill: #1890ff;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .title {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 1160px) {
  .docRef {
    text-align: center;
  }
} */
